doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title فروشگاه هلیوم
    link(rel="stylesheet", href="./index.css")
  body
    header
      .icon.menu
        include ../assets/icons/menu.svg
        .menu-list
          ul.links
            li: a(herf="#") سفارش های من
            li: a(herf="#") صفحه اصلی
            li: a(herf="#") اخبار 
            li: a(herf="#") قوانین و مقررات
            li: a(herf="#") درباره ما 
            li: a(herf="#") سوالات متداول
      h1 فروشگاه هلیوم
      .icon.avatar: include ../assets/icons/avatar.svg
      .icon.basket
        include ../assets/icons/basket.svg
        .badge(data-key="count") 0
      .icon.back: include ../assets/icons/back.svg
    mixin card(name, price, url)
      .card
        .img
          img.bgImg(src=url)
          .subtitle
            span 
              | کارت 
              span(data-key="name")= name
            button سفارش
    - var cardsInfo = data.cards
    mixin selectCard(value)
      select(data-key="name", value=value)
        - for (var i = 0; i < cardsInfo.length; i++)
          option(value=cardsInfo[i].name)= cardsInfo[i].name
    template#order
      .fsb
        .label کارت:
        span.ul(data-key="name")
        .fl
          .label تعداد:
          button.circle +
          span.ul(type="number", value="1", data-key="count")
          button.circle -
        .label قیمت:
        span.ul(data-key="price" type="number")
    main
      .card-list.open
        - for (var i = 0; i < cardsInfo.length; i++)
          +card(cardsInfo[i].name, cardsInfo[i].price, cardsInfo[i].img)
      .layout#orders-list
        h2 سفارش ها
        div#orders(data-item="order" )
        div.totalPrice
          span قیمت کل:
          span(data-key="totalPrice" type="number")
        .ce
          button.buy خرید
      #phone-register.layout
        h2 شماره همراه خود را وارد کنید
        .phone-info.fl
          .label شماره همراه:
          input.ul(data-key="phoneNumber")
        .ce
          button ثبت
      #user-info.layout
        h2 اطلاعات کاربر
        .fl
          span نام
          input.ul(data-key="name") 
        .fl
          span شماره همراه
          input.ul(data-key="phoneNumber") 
        .fl.showOrders
          button سفارش های انجام شده
      #code-confirm.layout
        h2 دریافت کد
        .fl
          .label کد:
          input(type="number", name="")
          input(type="number", name="")
          input(type="number", name="")
          input(type="number", name="")
          input(type="number", name="")
        .ce
          button تایید
      .layout#order-feedback
        h2 سفارش شما ثبت شد.
        p شما میتوانید سفارش های خود از منو قسمت سفارش های من سفارش خود را پیگیری کنید
      .layout#order-history
        h2 سفارش های انجام شده
        .orders-history
          .cell کارت 
          .cell تعداد
          .cell قیمت
          .cell تاریخ
          .cell وضعیت
          .cell طلایی 
          .cell 2
          .cell 20000000
          .cell 1401/2/7
          .cell تحویل داده نشده

    footer
      ul.links
        li: a(herf="#") صفحه اصلی
        li: a(herf="#") اخبار 
        li: a(herf="#") قوانین و مقررات
        li: a(herf="#") درباره ما 
        li: a(herf="#") سوالات متداول
      .logo
        img(src="/assets/icons/logo.png")
    script(src="./script.js")
